/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #141922;
}




/* utility class */
.container{
    display: flex;
    
    height: calc(100vh - 100px);  /* 100px relativi al player */
    
}

.padding-side{
    padding-inline: 20px;
}

a{
    text-decoration: none;
}

.title {
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    
}

.subtitle {
    margin-top: 10px;
    font-size: 0.8em;
    font-weight: bold;
    color: #797c80;
}

img{
    display: block;
    width: 100%;
    max-width: 180px;
    /* height: auto; */
   
}

h2{    
    color: white;
}


.button {    
    padding: 14px 40px;

    border-radius: 30px;
    border: 2px solid white;

    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    color: white;

}




/* aside */
aside{
    min-width: 230px;

    /* test */
    background-color: lightpink;
}




/* main */
main{
    
    flex-grow: 1;
    overflow: auto;

    
}


.top-bar{
    position: absolute;
    width: calc(100vw - 230px);
    text-align: end;
    
    /* test */
    background-color:rgba(0, 0, 0, 0.4);
    /* height: 80px; */
}

.upgrade{
    /* margin: 30px 20px 40px; */
    margin: 30px 24px 35px;
}

.secondary-nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
    padding-top: calc(80px + 24px);   /* 80px = altezza top-bar */
    padding-bottom: 40px;

    list-style: none;
}

.secondary-nav ul a{
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    color: #797c80;

}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
   
    
    padding-block: 30px;    
    
}

.tile{

    width: calc(100% / 6 - 10px / 6 * 5);


}


#recently-played .subtitle{
    text-align: center;
   
}

#popular-artist img{
    border-radius: 50%;
}



/* player */
#player{

    /* test */
    height: 100px;
    background-color: lightseagreen;
}


/* responsive */

@media screen and (max-width: 992px) {

    
    .tile{
        width:  calc(100% / 4 - 10px / 4 * 3);
                    
    }
    
}

@media screen and (max-width: 768px) {

    
    .tile{
        width: calc(100% / 2 - 10px / 2);
                    
    }
    
}

@media screen and (max-width: 568px) {

    
    .tile{
        width: calc(100% / 2 - 10px / 2);
                    
    }

    aside{
        min-width: 50px;
    }

    .top-bar{
        
        width: calc(100vw - 50px);
    
    }
    
}