/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #141922;
}




/* utility class */
.container{
    display: flex;   
    
    height: calc(100vh - 71px);  /* 71 px relativi al player */
    
}

.padding-side{
    padding-inline: 20px;
}


.title {
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    
}

.subtitle {
    margin-top: 10px;
    font-size: 0.8em;
    font-weight: bold;
    color: #797c80;
}

.button {    
    padding: 14px 40px;

    border-radius: 30px;
    border: 2px solid white;

    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    color: white;

}

.active{
    border-left: 3px solid #c1eb7d; 
    color: white;   
}

.active a{
    color: white;
}


h2{    
    color: white;
}

li{ 
    list-style: none;
}

a{
    text-decoration: none;
    color: #5a5a5a;
}






/* aside */
aside{
    position: relative;

    min-width: 230px;
    display: flex;
    flex-direction: column;

    overflow: hidden;

    
    font-size: 14px;
    font-weight: bold;
    color: #5a5a5a;
    background-color: black;

    
}

aside > *:not(#primary-nav,#logo){
    padding: 1.5em 1.5em .5em;

}

#logo{
    width: 150px;
    padding-top: 15px;
    padding-left: 1.5em;
}

#primary-nav{
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-block: 30px;
    
}

#primary-nav > li:not(.active){
    padding-left: 1.5em ;
}


#primary-nav .nav-item{
    display: flex;
    align-items: center;
}

#primary-nav .nav-item:nth-of-type(2){
    padding-left: 1.3em;
}



#primary-nav .nav-item a:hover{
    color: white;

}


#primary-nav .nav-item:first-of-type{
    display: none;
}



.nav-item .aside-icon{
    
    margin-right: 7px ;
    height: 26px;
    
}

#aside-playlists{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

#aside-playlists > strong{
    text-transform: uppercase;
    color: white;

}


#aside-playlists > a{
    margin-top: 12px;
    margin-bottom: 20px;

}

#aside-playlists .fa-square-plus{
    font-size: 50px;
    vertical-align: middle;
    margin-right: 8px ;
}

.list{
    overflow: auto;
}

.playlist-name{
    overflow: auto;
    line-height: 2.3em;
}

#aside-playlists a:hover{
    color: white;
}

#aside-bottom .dowload{
    display: flex;    
}

#aside-bottom .download img{
    height: 14px;
    margin-right: 5px;
    margin-left: 5px;
    vertical-align: middle;
    
}

#aside-bottom .download a:hover{
    color: white;
}

#aside-bottom hr{
    margin-block: 14px;
}

#aside-bottom .user{
    display: flex;
    align-items: center;
    color: white;
    
}

#aside-bottom .user img{
    height: 26px;
    aspect-ratio: 1;
    
    margin-right: 8px;

    border-radius: 50%;

    background-color: #5a5a5a;
}



/* main */
main{
    flex-grow: 1;
    /* width: calc(100%-230px); */
    overflow: auto;

    
}


.banner{
    position: fixed;
    width: calc(100vw - 230px);

    padding: 30px 24px 35px;

    text-align: end;
    
    background-color:rgba(0, 0, 0, 0.4);
    /* height: 80px; */
}


.secondary-nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
    padding-top: calc(80px + 24px);   /* 80px = altezza banner */
    padding-bottom: 40px;

    list-style: none;
}

.secondary-nav ul a{
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    color: #797c80;

}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
   
    
    padding-block: 30px;    
    
}

.tile{

    width: calc(100% / 6 - 10px / 6 * 5);


}

.tile img{
    display: block;
    width: 100%;
    max-width: 180px;
   
}


#recently-played .subtitle{
    text-align: center;
   
}

#popular-artist img{
    border-radius: 50%;
}



/* player */
#player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 14px 10px;

    background-color:#282828;
}

.player-left{
    display: flex;
    align-items: center;
    width: 33%;
    
}



.player-left img{
    width: 42px;
    margin-right: 1em;
    
}
.song-info{
    align-self: center;
    
}

.player-left .title{
    margin: 0;
    text-align: start;
    font-size: 12px;
}

.player-left .subtitle{
    margin: 0;
    font-size: 9px;
}

.player-left .icons{
    align-self: center;
    color: #797c80;
    margin-left: 40px;    
    
}


.icons span:first-child{
    margin-right: 14px;
}

.player-center{
    width: 33%;
}

.player-buttons{
    display: flex;
    justify-content: center;
    gap: 1em;

    color: white;
}

.player-buttons span:nth-of-type(3){
    scale: 1.8;
}


.progress-bar{
    display: flex;
    align-items: center;
    gap: 24px;
    
    margin-top: 14px;
    
}

.border-bar{
    flex-grow: 1;
    
    border-radius: 10px;
    background-color: #c1c1c1
    
}
.played-bar{
    height:3px;
    width:20%;
    background-color: #5a5a5a;
}

.number-side-bar{
    font-size: 8px;
    color: white;
}



.player-right{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 14px;

    width: 33%;

    padding-left: 8px;
}

.player-right .icons{
    color: #797c80
}

.volume-bar{
    width: 120px;
}
.volume-bar .border-bar{
        
    border-radius: 10px;
    background-color: #c1c1c1
    
}

.volume-bar .played-bar{
    height:3px;
    width:30%;
    background-color: #5a5a5a;
}






/* RESPONSIVE */

@media screen and (max-width: 992px) {

    
    .tile{
        width:  calc(100% / 4 - 10px / 4 * 3);
                    
    }
    
}

@media screen and (max-width: 768px) {

    
    .tile{
        width: calc(100% / 2 - 10px / 2);
                    
    }
    
}

@media screen and (max-width: 568px) {

    aside{
        min-width:50px;
        width: 50px;

        padding-block: 10px;

        justify-content: space-between;
        align-items: center;
        
        
    }

    .active{
        border: 0;
    }
        
    #logo{
        display: none;
    }

        
    #primary-nav{
        display: flex;
        margin: 0;
                
    }

    #primary-nav .nav-item:first-of-type{
        display: block;
    }

    #primary-nav .nav-item:nth-of-type(2){
        padding: 0;
    }

    #primary-nav > li:not(.active){
        padding: 0;
    }

    #primary-nav a{
        display: none;
    }

    #primary-nav li{
        padding: 0;
    }

    #primary-nav img{
        padding: 0;
        margin: 0;
    }

    #aside-playlists{
        display: none;
    }
    
    #aside-bottom a{
        display: none;
    }

    #aside-bottom hr{
        display: none;
    }
    
    #aside-bottom .user img{
        margin: 0;
        padding: 0;
    }

    #aside-bottom span{
        display: none;
    }

    .download{
        margin-bottom: 5px;
    }

    .download img{
        height: 14px;
        margin-right: 5px;
        margin-left: 10px;
        vertical-align: middle;
        
    }
    
    
    /* main section */
    
    .banner{
        
        width: calc(100vw - 50px);
    
    }

    .tile{
        width: calc(100% / 2 - 10px / 2);
                    
    }

    /* player section */

    .player-left img{
        width: 30px;      
        
    }
    
    .player-left .title{        
        font-size: 14px;
    }
    
    .player-left .subtitle{
        margin: 0;
        font-size: 10px;
    }
    
    .player-left .icons{        
        margin-left: 20px;
        
        
    }
    
}